.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__yxOf {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__yxOf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__yxOf > :global(.__wab_flex-container) > *,
.freeBox__yxOf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yxOf > :global(.__wab_flex-container) > picture > img,
.freeBox__yxOf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yxOf {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__fa3Vv {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__sqtyY {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp___0YeO2:global(.__wab_instance) {
  position: relative;
}
.img__lNGn8 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__lNGn8 > picture > img {
  object-fit: cover;
}
.img__lNGn8 > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp___0036Q:global(.__wab_instance) {
  position: relative;
}
.img__q1TT {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__q1TT > picture > img {
  object-fit: cover;
}
.img__q1TT > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp___9CNw:global(.__wab_instance) {
  position: relative;
}
.img__fhbhz {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__fhbhz > picture > img {
  object-fit: cover;
}
.img__fhbhz > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__mIxg:global(.__wab_instance) {
  position: relative;
}
.img__hdab4 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__hdab4 > picture > img {
  object-fit: cover;
}
.img__hdab4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-PqvWMySITjQu5Z);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__t0IRn {
  flex-direction: column;
  display: flex;
}
.freeBox__t0IRn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__t0IRn > :global(.__wab_flex-container) > *,
.freeBox__t0IRn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t0IRn > :global(.__wab_flex-container) > picture > img,
.freeBox__t0IRn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___0ZGj1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text___6Hdfc {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__uceax {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__uceax > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__uceax > :global(.__wab_flex-container) > *,
.freeBox__uceax > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uceax > :global(.__wab_flex-container) > picture > img,
.freeBox__uceax
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column___27A14 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__yhPxQ:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zzGa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-b2V0RRC5B2TSdy);
  width: 28px;
  height: 28px;
}
.text__ilheT {
  padding-left: 0px;
}
.column__bAaNb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__aJTom:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__leOp3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-b2V0RRC5B2TSdy);
  width: 28px;
  height: 28px;
}
.text__ccgvI {
  padding-left: 0px;
}
.column___9JW2R {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__fWqDs:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__iB7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-b2V0RRC5B2TSdy);
  width: 28px;
  height: 28px;
}
.text__iRQj {
  padding-left: 0px;
}
.column__aoXCz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__famwK:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zoZkO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-b2V0RRC5B2TSdy);
  width: 28px;
  height: 28px;
}
.text__pRkUw {
  padding-left: 0px;
}
.freeBox___3J0I {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox___3J0I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___3J0I > :global(.__wab_flex-container) > *,
.freeBox___3J0I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3J0I > :global(.__wab_flex-container) > picture > img,
.freeBox___3J0I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3J0I {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__qJvc4 {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__qJvc4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__qJvc4 > :global(.__wab_flex-container) > *,
.freeBox__qJvc4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qJvc4 > :global(.__wab_flex-container) > picture > img,
.freeBox__qJvc4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___1ITgA {
  flex-direction: column;
  display: flex;
}
.freeBox___1ITgA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___1ITgA > :global(.__wab_flex-container) > *,
.freeBox___1ITgA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1ITgA > :global(.__wab_flex-container) > picture > img,
.freeBox___1ITgA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jkeh7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__aBlll {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aBlll {
    text-align: center;
  }
}
.text__yi3S2 {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__be8Ri {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__be8Ri > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__be8Ri > :global(.__wab_flex-container) > *,
.freeBox__be8Ri > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__be8Ri > :global(.__wab_flex-container) > picture > img,
.freeBox__be8Ri
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__be8Ri {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__be8Ri > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__be8Ri > :global(.__wab_flex-container) > *,
  .freeBox__be8Ri > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__be8Ri > :global(.__wab_flex-container) > picture > img,
  .freeBox__be8Ri
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__quYgT:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__fCjK2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mlbCi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bejX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___74Qxu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___0GbRs {
  height: auto;
}
.priceCard__o3Puw:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__qe614 {
  color: var(--token-UXnkz2sC0-MU8Z);
}
.valueProp__ptAZt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jqD2T {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kkPa8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mggQx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ivj0E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eoLW {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__dfBab {
  height: auto;
}
.priceCard__lbX8M:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__c0Vjn {
  color: var(--token-jqYlcKFIZ_j3iA);
}
.valueProp__f7PIa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xUeym {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a7Kvl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nX5BQ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uAoRw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zMxQz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yx9Lz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__f1RnZ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__zwSVt {
  height: auto;
}
.priceCard___7Ank:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__aYnU9 {
  color: var(--token-DS6UprZDaRpBl-);
}
.valueProp__p2Pql:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7YQuA {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t8Bl5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qlVcP {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yyUz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__iJWpl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__g75Rw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__b6X8D {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__g0Jk8 {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
