.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("/plasmic/generic_landing_page/images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__qeWnf {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-9uqDs8DTP8f8o9);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__qeWnf > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__qeWnf > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__qeWnf > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__qeWnf > :global(.__wab_flex-container) > *,
.columns__qeWnf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qeWnf > :global(.__wab_flex-container) > picture > img,
.columns__qeWnf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qeWnf {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qeWnf > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qeWnf > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qeWnf > :global(.__wab_flex-container) > *,
  .columns__qeWnf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__qeWnf > :global(.__wab_flex-container) > picture > img,
  .columns__qeWnf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__chtdr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__udHlr {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__udHlr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__udHlr > :global(.__wab_flex-container) > *,
.freeBox__udHlr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__udHlr > :global(.__wab_flex-container) > picture > img,
.freeBox__udHlr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__trHhs {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__trHhs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__trHhs > :global(.__wab_flex-container) > *,
.freeBox__trHhs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__trHhs > :global(.__wab_flex-container) > picture > img,
.freeBox__trHhs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__noZx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__aaLp {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-3a0NOWGF9jLy9B);
  background: #ffffff;
  padding: 4px 8px;
}
.text__jd3Ct {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-7ZOCgmXpLOaSLa);
}
.text__atJic {
  font-size: 20px;
  color: var(--token-3a0NOWGF9jLy9B);
  line-height: 28px;
}
.freeBox__muUe3 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__muUe3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__muUe3 > :global(.__wab_flex-container) > *,
.freeBox__muUe3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__muUe3 > :global(.__wab_flex-container) > picture > img,
.freeBox__muUe3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button___8GFvQ:global(.__wab_instance) {
  position: relative;
}
.svg__v254 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__f8V0 {
  height: auto;
}
.svg__egONa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__v8JEc:global(.__wab_instance) {
  position: relative;
}
.svg__aDx2A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__eeHEh {
  height: auto;
  font-weight: 400;
}
.svg__h5HmK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__d7PD {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__tO4Aj {
  flex-direction: column;
  max-width: var(--token-9uqDs8DTP8f8o9);
  display: flex;
  height: auto;
}
.freeBox__tO4Aj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tO4Aj > :global(.__wab_flex-container) > *,
.freeBox__tO4Aj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tO4Aj > :global(.__wab_flex-container) > picture > img,
.freeBox__tO4Aj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___5H0RU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___1HA9P {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-7ZOCgmXpLOaSLa);
  line-height: 1;
}
.text__xrWf3 {
  font-size: 20px;
  color: var(--token-3a0NOWGF9jLy9B);
  text-align: left;
  line-height: 28px;
}
.freeBox__i1O3J {
  flex-direction: column;
  max-width: var(--token-9uqDs8DTP8f8o9);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__i1O3J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__i1O3J > :global(.__wab_flex-container) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
.freeBox__i1O3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J {
    max-width: var(--token-9uqDs8DTP8f8o9);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
  .freeBox__i1O3J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__pmxbR {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__pmxbR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__pmxbR > :global(.__wab_flex-container) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
.freeBox__pmxbR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
  .freeBox__pmxbR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__e8Fay:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__w5BPe {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__mik5G:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___0MqA {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__eAtal:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__v1Kpq {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___0Kpvk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bgXq6 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__vdNGn {
  height: auto;
}
.freeBox__edOhx {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__edOhx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__edOhx > :global(.__wab_flex-container) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
.freeBox__edOhx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx > :global(.__wab_flex-container) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
  .freeBox__edOhx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__fpYeA:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wsBgt {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__oPtnd {
  height: auto;
}
.valueProp__xteNr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cUpjm {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__cx8Ro:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gz607 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__nWcTa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kPiSe {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__bpEY {
  flex-direction: row;
  max-width: var(--token-9uqDs8DTP8f8o9);
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__bpEY > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__bpEY > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__bpEY > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__bpEY > :global(.__wab_flex-container) > *,
.columns__bpEY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__bpEY > :global(.__wab_flex-container) > picture > img,
.columns__bpEY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bpEY {
    max-width: var(--token-9uqDs8DTP8f8o9);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bpEY > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bpEY > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bpEY > :global(.__wab_flex-container) > *,
  .columns__bpEY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__bpEY > :global(.__wab_flex-container) > picture > img,
  .columns__bpEY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__pNyxI {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__dMv6U {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__dMv6U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dMv6U > :global(.__wab_flex-container) > *,
.freeBox__dMv6U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dMv6U > :global(.__wab_flex-container) > picture > img,
.freeBox__dMv6U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__zkk5U {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-G1BYRF99uwOUpe);
}
.h2___8UsiM {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-GHVdL3atjnVZmt);
  line-height: 1;
}
.text__sIrWw {
  font-size: 20px;
  color: var(--token-sseX4-KUs7Ndm4);
  line-height: 28px;
  height: auto;
}
.button__nwUpH:global(.__wab_instance) {
  position: relative;
}
.svg__gh131 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__hqhj6 {
  color: var(--token-O4KMAlHVMKldwf);
}
.svg__vLuNp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-O4KMAlHVMKldwf);
}
.column__f1MSm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__k8Day {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__nuEhd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__nuEhd:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__rmD0U {
  color: var(--token-GHVdL3atjnVZmt);
}
.svg___9IPbg {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-G1BYRF99uwOUpe);
}
.listItem__sEwon:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__nejHp {
  color: var(--token-GHVdL3atjnVZmt);
}
.svg__o03K1 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-G1BYRF99uwOUpe);
}
.listItem__oaBkt:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__vpt5I {
  height: auto;
  color: var(--token-GHVdL3atjnVZmt);
}
.svg__b6Izu {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-G1BYRF99uwOUpe);
}
.listItem__ajpce:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___8P5Il {
  height: auto;
  color: var(--token-GHVdL3atjnVZmt);
}
.svg__s4JQb {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-G1BYRF99uwOUpe);
}
.listItem__dDTfq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__lwgW8 {
  height: auto;
  color: var(--token-GHVdL3atjnVZmt);
}
.svg___0XPto {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-G1BYRF99uwOUpe);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__utOfq {
  flex-direction: column;
  max-width: var(--token-9uqDs8DTP8f8o9);
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__utOfq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__utOfq > :global(.__wab_flex-container) > *,
.freeBox__utOfq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__utOfq > :global(.__wab_flex-container) > picture > img,
.freeBox__utOfq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__utOfq {
    max-width: var(--token-9uqDs8DTP8f8o9);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__utOfq > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__utOfq > :global(.__wab_flex-container) > *,
  .freeBox__utOfq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__utOfq > :global(.__wab_flex-container) > picture > img,
  .freeBox__utOfq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__ixfl {
  flex-direction: column;
  display: flex;
}
.freeBox__ixfl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ixfl > :global(.__wab_flex-container) > *,
.freeBox__ixfl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ixfl > :global(.__wab_flex-container) > picture > img,
.freeBox__ixfl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__chfek {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__yivNz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-GHVdL3atjnVZmt);
  line-height: 1;
}
.text__ov9E2 {
  font-size: 20px;
  color: var(--token-sseX4-KUs7Ndm4);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__fBtIx {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__fBtIx > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
.columns__fBtIx > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__fBtIx > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__fBtIx > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fBtIx {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fBtIx > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fBtIx > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fBtIx > :global(.__wab_flex-container) > *,
  .columns__fBtIx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__fBtIx > :global(.__wab_flex-container) > picture > img,
  .columns__fBtIx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__eMcCz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__l52:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__l52:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__jTcCs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__frUew {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___20IJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oh1Hc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__pXjYx {
  height: auto;
}
.column__xyZaO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__uopks:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__wFeD:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qKz0J {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___65ZH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___9N9Ie {
  height: auto;
}
.svg__cBsIf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mnSpf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ltnQ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sEnZn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__f8Ae3 {
  height: auto;
}
.svg__hGzZ7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__yY9At {
  height: auto;
}
.column__zqqZu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___1YeLy:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard___1YeLy:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__thJo0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nmYow {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t80Kz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___0Bphi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__sbsww {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__ik6Ff {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ik6Ff > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ik6Ff > :global(.__wab_flex-container) > *,
.freeBox__ik6Ff > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ik6Ff > :global(.__wab_flex-container) > picture > img,
.freeBox__ik6Ff
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ik6Ff {
    position: relative;
  }
}
.text__u5MXa {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__s8SRz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-7ZOCgmXpLOaSLa);
  line-height: 1;
  height: auto;
}
.svg__ldelT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vfqto {
  height: auto;
  width: auto;
}
.svg__qxR2R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___5EFwP {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox___5EFwP > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___5EFwP > :global(.__wab_flex-container) > *,
.freeBox___5EFwP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5EFwP > :global(.__wab_flex-container) > picture > img,
.freeBox___5EFwP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5EFwP {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5EFwP > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5EFwP > :global(.__wab_flex-container) > *,
  .freeBox___5EFwP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5EFwP > :global(.__wab_flex-container) > picture > img,
  .freeBox___5EFwP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text__f2SA5 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__nlIEr {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-7ZOCgmXpLOaSLa);
  line-height: 1;
  height: auto;
}
.svg__fWImW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vF2Bp {
  height: auto;
  width: auto;
}
.svg__f1IwS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__pqTc:global(.__wab_instance) {
  position: relative;
}
.text__eoP3Y {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__da8MN {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-7ZOCgmXpLOaSLa);
  line-height: 1;
  height: auto;
}
.svg__rPcua {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___72Ylp {
  height: auto;
  width: auto;
}
.svg__yeSam {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__yc7Kr {
  flex-direction: row;
  max-width: var(--token-9uqDs8DTP8f8o9);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__yc7Kr > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__yc7Kr > :global(.__wab_flex-container) > *,
.freeBox__yc7Kr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yc7Kr > :global(.__wab_flex-container) > picture > img,
.freeBox__yc7Kr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__cyW7 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__cyW7 > picture > img {
  object-fit: cover;
}
.img__cyW7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__obHry {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__obHry > picture > img {
  object-fit: cover;
}
.img__obHry > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__jjWvP {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__jjWvP > picture > img {
  object-fit: cover;
}
.img__jjWvP > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__l1Uc7 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__l1Uc7 > picture > img {
  object-fit: cover;
}
.img__l1Uc7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__slK8 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__slK8 > picture > img {
  object-fit: cover;
}
.img__slK8 > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__yyWqs {
  flex-direction: row;
  max-width: var(--token-9uqDs8DTP8f8o9);
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__yyWqs > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__yyWqs > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__yyWqs > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__yyWqs > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__yyWqs > :global(.__wab_flex-container) > *,
.columns__yyWqs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__yyWqs > :global(.__wab_flex-container) > picture > img,
.columns__yyWqs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yyWqs {
    max-width: var(--token-9uqDs8DTP8f8o9);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yyWqs > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yyWqs > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yyWqs > :global(.__wab_flex-container) > *,
  .columns__yyWqs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__yyWqs > :global(.__wab_flex-container) > picture > img,
  .columns__yyWqs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column___0HNh5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__jgido:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__y3PnE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__ulAyn:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column___4FskG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial___4QtAx:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__xuJZf {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__jPtvF {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__jPtvF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jPtvF > :global(.__wab_flex-container) > *,
.freeBox__jPtvF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jPtvF > :global(.__wab_flex-container) > picture > img,
.freeBox__jPtvF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__oveko {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-GHVdL3atjnVZmt);
}
.text__nu4Ri {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-GHVdL3atjnVZmt);
  line-height: 1;
}
.text___9Wmal {
  font-size: 20px;
  color: var(--token-sseX4-KUs7Ndm4);
  line-height: 28px;
}
.freeBox__fZxPv {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fZxPv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fZxPv > :global(.__wab_flex-container) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > picture > img,
.freeBox__fZxPv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__tErPr:global(.__wab_instance) {
  position: relative;
}
.svg__so3Vc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jpE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__r91X:global(.__wab_instance) {
  position: relative;
}
.svg__dHUy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kvyDw {
  height: auto;
  font-weight: 400;
}
.svg__mGmff {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
