.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__ebY9L {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.freeBox__ebY9L > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__ebY9L > :global(.__wab_flex-container) > *,
.freeBox__ebY9L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ebY9L > :global(.__wab_flex-container) > picture > img,
.freeBox__ebY9L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ebY9L {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ebY9L > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ebY9L > :global(.__wab_flex-container) > *,
  .freeBox__ebY9L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ebY9L > :global(.__wab_flex-container) > picture > img,
  .freeBox__ebY9L
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox___0BbPv {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox___0BbPv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___0BbPv > :global(.__wab_flex-container) > *,
.freeBox___0BbPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0BbPv > :global(.__wab_flex-container) > picture > img,
.freeBox___0BbPv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__bdDEw {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__bdDEw > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bdDEw > :global(.__wab_flex-container) > *,
.freeBox__bdDEw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bdDEw > :global(.__wab_flex-container) > picture > img,
.freeBox__bdDEw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__f7Yzx {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__f7Yzx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__f7Yzx > :global(.__wab_flex-container) > *,
.freeBox__f7Yzx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f7Yzx > :global(.__wab_flex-container) > picture > img,
.freeBox__f7Yzx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__wPd1 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-3a0NOWGF9jLy9B);
  flex-shrink: 0;
}
.svg__qzdXd {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-3a0NOWGF9jLy9B);
  flex-shrink: 0;
}
.svg__lAba {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-3a0NOWGF9jLy9B);
  flex-shrink: 0;
}
.freeBox__twPuv {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__twPuv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__twPuv > :global(.__wab_flex-container) > *,
.freeBox__twPuv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__twPuv > :global(.__wab_flex-container) > picture > img,
.freeBox__twPuv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___9WIbk {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-3a0NOWGF9jLy9B);
  height: auto;
}
.button__tMSh:global(.__wab_instance) {
  position: relative;
}
.svg__tgQeh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___2VdMh {
  height: auto;
}
.svg___1Sjog {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__s7Y99:global(.__wab_instance) {
  position: relative;
}
.svg__ddQk3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__sg4Py {
  height: auto;
}
.svg__har3E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__b7L5V:global(.__wab_instance) {
  position: relative;
}
.svg___8TTbh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__zdnF {
  height: auto;
}
.svg__el4Wr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zsCtw:global(.__wab_instance) {
  position: relative;
}
.svg__onPM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__y0H16 {
  height: auto;
}
.svg__xs0N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__iibYk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__iibYk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__iibYk > :global(.__wab_flex-container) > *,
.freeBox__iibYk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iibYk > :global(.__wab_flex-container) > picture > img,
.freeBox__iibYk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__aCguy {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-3a0NOWGF9jLy9B);
  height: auto;
}
.button__qf7Hr:global(.__wab_instance) {
  position: relative;
}
.svg__ziHr3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___34ZGx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__oymgv:global(.__wab_instance) {
  position: relative;
}
.svg___9XqAn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__sTgId {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__dKwjO:global(.__wab_instance) {
  position: relative;
}
.svg__ph5Wz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___6Fj5Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__aHwHd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__aHwHd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__aHwHd > :global(.__wab_flex-container) > *,
.freeBox__aHwHd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aHwHd > :global(.__wab_flex-container) > picture > img,
.freeBox__aHwHd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__amz01 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-3a0NOWGF9jLy9B);
  height: auto;
}
.button__oLjAd:global(.__wab_instance) {
  position: relative;
}
.svg__qqqRq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___5Aphv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__gIrEe:global(.__wab_instance) {
  position: relative;
}
.svg___4H3RT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___0RupH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__nq0S:global(.__wab_instance) {
  position: relative;
}
.svg__aBre {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__hdlaM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hYqwU:global(.__wab_instance) {
  position: relative;
}
.svg__jPrfp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xHk4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
